.TimewellContainer {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
  background-color: var(--b-color-timewell);
  transition: all 0.5s;
  overflow: hidden;
}

.TimewellMainDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.TimewellFormContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  max-height: 90%;
  height: 90%;
  background-color: var(--b-color-timewell);
  overflow-y: auto;
}

.TimewellContainer.collapsed {
  grid-template-columns: 0 1fr;
}

@media(max-width: 760px){
  .TimewellContainer{
    grid-template-columns: 0 1fr;
  }
}